/* Import all themes */
@import url('dark.css');
@import url('light.css');
@import url('midnight.css');
@import url('sunset.css');
@import url('dracula.css');
@import url('catppuccin.css');
@import url('gruvbox-dark.css');
@import url('gruvbox-light.css');
@import url('tokyo-night.css');
@import url('tokyo-storm.css');
@import url('rose-pine.css');
@import url('rose-pine-moon.css');